<div class="container">
  <button type="button" id="toggleArchiveBtn" class="button">show archive</button>
  <table class="table isHidden round" id="archiveTable">
    <thead class="table_header">
      <tr>
        <th class="table__header-column name">Name</th>
        <th class="table__header-column created-date">Created</th>
        <th class="table__header-column category">Category</th>
        <th class="table__header-column content">Content</th>
        <th class="table__header-column dates">Dates</th>
        <th class="table__header-column option">Option</th>
      </tr>
    </thead>
    <tbody id="archiveBody" class="table__body"></tbody>
  </table>
</div>
