<div class="container">
  <button type="button" data-type="toggleArchive">show archive</button>
  <table class="table isHidden" id="archiveTable">
    <thead>
      <tr>
        <th class="table__header-column">Name</th>
        <th class="table__header-column">Created</th>
        <th class="table__header-column">Category</th>
        <th class="table__header-column">Content</th>
        <th class="table__header-column">Dates</th>
        <th class="table__header-column">Option</th>
      </tr>
    </thead>
    <tbody id="notesBody"></tbody>
  </table>
</div>
