<div class="container">
  <table class="table round">
    <thead>
      <tr>
        <th class="table__header-column">Content</th>
        <th class="table__header-column">Active</th>
        <th class="table__header-column">Archived</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr data-category="Task-archive" class="isHidden">
        <td>Task</td>
        <td data-active>0</td>
        <td data-archive>0</td>
      </tr>
      <tr data-category="Idea-archive" class="isHidden">
        <td>Idea</td>
        <td data-active>0</td>
        <td data-archive>0</td>
      </tr>
      <tr data-category="Random thought-archive" class="isHidden">
        <td>Random thought</td>
        <td data-active>0</td>
        <td data-archive>0</td>
      </tr>
      <tr data-category="Quote-archive" class="isHidden">
        <td>Quote</td>
        <td data-active>0</td>
        <td data-archive>0</td>
      </tr>
    </tbody>
    <tbody id="notesBody"></tbody>
  </table>
</div>
