<div class="container">
  <table class="table" id="noteTable">
    <thead>
      <tr>
        <th class="table__header-column">Name</th>
        <th class="table__header-column">Created</th>
        <th class="table__header-column">Category</th>
        <th class="table__header-column">Content</th>
        <th class="table__header-column">Dates</th>
        <th class="table__header-column">Option</th>
      </tr>
    </thead>
    <tbody id="notesBody"></tbody>
  </table>

  <button type="button" data-type="addNote">add note</button>
</div>
